body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Allows the page to grow vertically */
    overflow-y: auto; /* Enables vertical scrolling on the body */
}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the top */
    width: 100%; /* Full width to prevent overflow issues */
    padding: 20px; /* Add padding to prevent cutting off content */
    box-sizing: border-box; /* Ensures padding is included in width */
    overflow-y: auto; /* Allows scrolling within the flex container */
    max-width: 100%; /* Prevents overflow */
}

.container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #03dac6;
    max-width: 600px;
    text-align: center;
    animation: rgbShadow 8s infinite;
    margin: 15px;
    box-sizing: border-box; /* Ensures padding doesn't cause overflow */
    flex: 1 1 300px; /* Allows it to shrink and wrap on small screens */
}

.container#news {
    padding: 15px;
}

li.news-article {
    margin: 10px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
}
a.news-article {
    font-size: 1.2em;
    color: #f1f1f1;
}

a.icons {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 48px; 
    height: 48px; 
    margin: 15px;
    overflow: hidden;
    padding: 6px;
    border-radius: 6px; 
    box-shadow: 0 4px 12px #03dac6;
}

h1 {
    color: #bb86fc;
    margin-bottom: 10px;
}

h2 {
    color: #03dac6;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
}

@keyframes rgbShadow {
    0% {
        box-shadow: 0 4px 12px rgb(255, 0, 0); /* Red */
    }
    12.5% {
        box-shadow: 0 4px 12px rgb(255, 165, 0); /* Orange */
    }
    25% {
        box-shadow: 0 4px 12px rgb(255, 255, 0); /* Yellow */
    }
    37.5% {
        box-shadow: 0 4px 12px rgb(0, 255, 0); /* Green */
    }
    50% {
        box-shadow: 0 4px 12px rgb(0, 255, 255); /* Cyan */
    }
    62.5% {
        box-shadow: 0 4px 12px rgb(0, 0, 255); /* Blue */
    }
    75% {
        box-shadow: 0 4px 12px rgb(128, 0, 128); /* Purple */
    }
    87.5% {
        box-shadow: 0 4px 12px rgb(255, 20, 147); /* Pink */
    }
    100% {
        box-shadow: 0 4px 12px rgb(255, 0, 0); /* Back to Red */
    }
}
